.section {
    margin: 80px 0;
}

.confirmed-name {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 50px;
    color: white;
    background-color: #1D1E26;
    padding: 20px;
}