.section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login {
    background-color: #1B8EF2;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    font-size: 20px;
    margin-top: 20%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login:hover {
    background-color: #2C51BF;
    color: white;
}

#password-input {
    border: none;
    outline: none;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    font-size: 16px;
    margin-top: 10%;
    padding: 10px;
    transition: all 0.3s ease;
}